# requirements.txt atualizado em 15/01/2026

streamlit
pandas
numpy
plotly
yfinance
python-bcb
fredapi
textblob
openpyxl
streamlit-option-menu
bcrypt
pandas_ta
scipy
requests
supabase
beautifulsoup4

